build --registry="https://raw.githubusercontent.com/dejwk/roo-registry/main/" --registry="https://bcr.bazel.build"
import %workspace%/bazelrc/esp32/base.bazelrc
import %workspace%/bazelrc/esp32/arduino.bazelrc
build --config=roo_testing_arduino_esp32
