build --registry="https://raw.githubusercontent.com/dejwk/roo-registry/main/" --registry="https://bcr.bazel.build"
# AddressSanitizer: bazel test ... --config=asan
import %workspace%/.roo_testing/bazelrc/common/asan.bazelrc
import %workspace%/.roo_testing/bazelrc/esp32/base.bazelrc
import %workspace%/.roo_testing/bazelrc/esp32/arduino.bazelrc
